 <% begin %>
   <h6 class="p-3 text-light"><%= link_to GithubService.repo_details[:name], GithubService.repo_details[:html_url] %> has <%= GithubService.num_merged_prs %> pull requests and counting.</h6>
   <% GithubService.contributors.each do |username, commits| %>
     <h7 class="p-3 text-light"><%= username %> has <%= commits %> commits!</h7>
   <% end %>
 <% rescue ApiConnectionError %>
   <h4 class="p-3 text-light">Github Statistics Unavailable</h4>
   <h4 class="p-3 text-light">Current Time is: <%= Time.now %></h4>
 <% end %>
